footer */
.footer{
    position: relative;
}

.footer_contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    place-items: center;
    margin-bottom: 10px;
}

.footer_copy{
    font-weight: 300;
}

.footer_picture{
    margin: 2%;
}

.footer_img{
    width: 70%;
}
.footer_social{
    display: flex;
    padding-top: 30px;

}

.footer_container{
    padding: 15px;
}

.footer_link{
    width: 60px;
    height: 60px;
    border: .1px solid rgb(140, 89, 190);
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom left, #a30c99 40%, #ffc39ed1 100%);

}

.footer_icon{
    width: 30px;
}

.footer_copyright{
    padding-top: 10px;
    border-top: 3px solid #c01ea0;
    text-align: center;
}

.footer_copyright:after{
    content: "mesonesaimeth@gmail.com";
    margin-left: 10px;
}